<div class="container">
  <div class="d-flex justify-content-around">
  <button class="btn btn-primary" (click)="llenaDatabase()" [disabled]="cargar"> Llena Database</button>
  <button class="btn btn-primary" (click)="logout()" [disabled]="cargar">Cerrar Session</button>
</div>
  <div class="modal" [ngClass]="{'d-block': isDialogOpen}" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header ">
          <h4 class="modal-title">Datos Adicionales</h4>
          <button type="button" class="close" (click)="closeDialog()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <mat-form-field class="w-100">
            <mat-label>firstName</mat-label>
            <input type="text" [disabled]="adicional" matInput placeholder="Ingrese su  name" name="firstName"
              [(ngModel)]="usuarioSelect.firstName">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>LastName</mat-label>
            <input type="text" matInput [disabled]="adicional" placeholder="Ingrese su  LastName" name="lastName"
              [(ngModel)]="usuarioSelect.lastName">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Age</mat-label>
            <input type="text" matInput [disabled]="adicional" placeholder="Ingrese su  Age" name="age"
              [(ngModel)]="usuarioSelect.age">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Email</mat-label>
            <input type="email" matInput [disabled]="adicional" placeholder="Enter your Email" name="email"
              [(ngModel)]="usuarioSelect.email">
          </mat-form-field>
          <!-- informacion adicional -->
          <div *ngIf="adicional">
          <mat-form-field class="w-100 ">
            <mat-label>Número telefonico</mat-label>
            <input type="text" matInput placeholder="Ingrese su Número Telefónico" name="telefono"
              [(ngModel)]="usuarioSelect.telefono">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Fecha Nacimiento</mat-label>
            <div class="d-flex">
              <input matInput name="nacimiento" [matDatepicker]="picker" [(ngModel)]="usuarioSelect.nacimiento">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            </div>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Estado civil </mat-label>
            <mat-select [(value)]="usuarioSelect.civil">
              <mat-option value="soltero">Soltero</mat-option>
              <mat-option value="casado">Casado</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field class="w-100" *ngIf="usuarioSelect.civil==='casado'">
            <mat-label>Numero de Hijos</mat-label>
            <input type="number"  min="0"  matInput placeholder="Numero Hijos" [(ngModel)]="usuarioSelect.hijos">
          </mat-form-field>
          <mat-form-field class="w-100">
            <mat-label>Observacion</mat-label>
            <textarea matInput placeholder="Observacion..." [(ngModel)]="usuarioSelect.observacion"></textarea>
          </mat-form-field>
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeDialog()">Cerrar</button>
          <button type="button" class="btn btn-primary" (click)="guardaAdiccional(usuarioSelect)">Guardar cambios</button>
        </div>
      </div>
    </div>
  </div>


  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of dataSource">
          <th scope="row">{{ user.id }}</th>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName}}</td>
          <td>{{ user.age }}</td>
          <td>{{ user.email}}</td>
          <td>
            <img width="50px" [src]="user.image" alt="">
          </td>
          <td>
            <button class="btn btn-primary" (click)="editarUsuario(user)">Editar</button>
            <button class="btn btn-danger" (click)="deleteUser(user)">Eliminar</button>
            <button class="btn btn-primary" (click)="openDialog(user)">Infirmacion Adicional</button>
          </td>
      </tr>
    </tbody>
  </table>

</div>
